<!DOCTYPE html>
<head>
	<% include ../partials/header %>
</head>
<body>
	<h1 class="text-center"><%= title %></h1>
	<% include ../partials/includes %>

<div class="container">       
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Naziv</th>
        <th>Opis</th>
        <th>Cijena</th>
        <th>Clanovi</th>
        <th>Datum Pocetka</th>
        <th>Datum Zavrsetka</th>
        <th>Obavljeni Poslovi</th>
        <th>Delete</th>
        <th>Edit</th>
        <th>Show</th>
      </tr>
    </thead>
    <tbody>
    <% for(var i=0; i<projects.length; i++) {%>
      <tr>
        <td><%= projects[i].naziv %></td>
        <td><%= projects[i].opis %></td>
        <td><%= projects[i].cijena %></td>
        <td><%= projects[i].clanovi %></td>
        <td><%= projects[i].datumPocetka %></td>
        <td><%= projects[i].datumZavrsetka %></td>
        <td><%= projects[i].obavljeniPoslovi %></td>
        <td>
        	<form action='/projects/<%=projects[i]._id%>/edit', method='post', enctype='application/x-www-form-urlencoded'>
	  	<input type="hidden" value='DELETE', name='_method'>
	 	<button type="submit" class="btn btn-danger">Delete</button>
	</form>
        </td>
        <td><a href='/projects/<%= projects[i]._id%>/edit' class="btn btn-warning" role="button">Edit</a></td>
        <td><a href='/projects/<%= projects[i]._id%>' class="btn btn-info" role="button">Show</a></td>
      </tr>

    <% } %>
        </tbody>
  </table>
  <a href='/projects/new' class="btn btn-success" role="button">Add new</a>
</div>
</body>
</html>