extends ../layout

block content
    h1.
         #{title}
    ul
        - each project, i in projects
            li    Naziv: #{project.naziv}
            li    Opis: #{project.opis}
            li    Cijena: #{project.cijena}
            li    Datum Pocetka: #{project.datumPocetka}
            li    Datum zavrsetka: #{project.datumZavrsetka}
            li    Clanovi: #{project.clanovi}
            li    Obavljeni poslovi: #{project.obavljeniPoslovi}
            li    Id: #{project._id}
                form(action='/projects/#{project._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden',value='DELETE',name='_method')
                    button(type='submit').
                        Delete
                p 
                    a(href='/projects/#{project._id}/edit') Edit |
                    a(href='/projects/#{project._id}') Show

