<!DOCTYPE html>
<head>
	<% include ../partials/header %>
</head>
<body>
	<% include ../partials/includes %>
	<a href='/home' class="btn btn-info" role="button">Profile</a>
<a href='/signout' class="btn btn-warning" role="button">Logout</a>
	<h1 class="text-center">Project</h1>

<div class="row">
<div class="col-xs-12 col-md-6 col-md-offset-3">
	<ul class="list-group">
	  <li class="list-group-item">Naziv: <%= project.naziv %></li>
	  <li class="list-group-item">Opis: <%= project.opis %></li>
	  <li class="list-group-item">Cijena: <%= project.cijena %></li>
	  <li class="list-group-item">Clanovi: <%= project.clanovi %></li>
	  <li class="list-group-item">Datum Pocetka: <%= project.datumPocetka %></li>
	  <li class="list-group-item">Datum Zavrsetka: <%= project.datumZavrsetka %></li>
	  <li class="list-group-item">Arhiviran: <% if(project.arhiva == true) {%> Arhiviran <% } else { %> Nije arhiviran <% } %></li>
	  <li class="list-group-item">Obavljeni poslovi: <% if(project.obavljeniPoslovi == true) {%> Da <% } else { %> Ne <% } %></li>
	</ul>
	<a href='/projects/' class="btn btn-primary" role="button">Back to projects</a>
</div>
</div>

</body>
</html>